%estilofooter {
    font-family: "Prata", serif;
    color: grey;
}


@mixin estiloTexto {
    font-family: "Prata", serif;
    font-size: large;
    color: bisque;
    margin: 40px;
    padding: 40px;
    
}

