body {
  background-color: black;
  ol {
    @include estiloTexto;
  }
  form {
    font-family: "Prata", serif;
    text-align: center;
    margin: 70px;
    padding: 70px;
  }
  .imgpaul {
    text-align: center;
  }
  
  .paulpic {
    text-align: center;
  }

  .flexindex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .flexindex img {
    padding: 5px;
  }

  .card {
    background-color: darkslategray;
    color: grey;
    font-family: "Prata", serif;
  }
  .row {
    justify-content: space-evenly;
  }
}
